<configuration>
  <configSections>
    <!--默认配置-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <!--AOP扩展-->
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="containerConfig">
        <!--AOP 配置开始-->
        <extension type="Interception"/>
        <!--AOP 配置结束-->

        <!--IOC配置-->
        <register type="IService.ITestService,IService" mapTo="Service.BLL.TestManager,Service">
          <!--AOP 配置开始-->
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Four.WebApi.UnityFactory.AOPUnit.LogBehavior,Four.WebApi"/>
          <!--AOP 配置结束-->
        </register>
      </container>
    </containers>
  </unity>
</configuration>